<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/adduser" class="btn btn-info">Add User</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/updateuser" class="btn btn-info">Update User</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/account" class="btn btn-info">List Accounts</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addaccount" class="btn btn-info">Add Account</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/updateaccounts" class="btn btn-info">Update Account</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/currency" class="btn btn-info">List Currencies</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addcurrency" class="btn btn-info">Add Currency</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/updatecurrency" class="btn btn-info">Update Currency</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/accountcurrency" class="btn btn-info">List Account Currencies</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addaccountcurrency" class="btn btn-info">Add Account Currencies</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
