<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #bankAccountForm="ngForm">
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" [(ngModel)]="account.type"
               class="form-control"
               id="type"
               name="type"
               placeholder="Enter your type"
               required #type="ngModel">
      </div>
      <div [hidden]="!type.pristine" class="alert alert-danger">type is required</div>

      <div class="form-group">
        <label for="userId">userID</label>
        <input type="number" [(ngModel)]="account.userId"
               class="form-control"
               id="userId"
               name="userId"
               placeholder="Enter your userID"
               required #userId="ngModel">
      </div>
      <div [hidden]="!userId.pristine" class="alert alert-danger">userId is required</div>

      <button type="submit" [disabled]="!bankAccountForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
