<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">user ID</th>
        <th scope="col">Type</th>
        <th scope="col">Balance</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.id }}</td>
        <td>{{ account.userId }}</td>
        <td>{{ account.type }}</td>
        <td>{{ account.balance }}</td>
        <td>
          <button (click)="delete(account.id)" class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i> Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
