<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Account ID</th>
        <th scope="col">Currency ID</th>
        <th scope="col">Balance</th>
        <th scope="col">Currency name</th>
        <th scope="col">USER ID</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let accountCurrency of bankAccountCurrency">
        <td>{{ accountCurrency.account.id }}</td>
        <td>{{ accountCurrency.currency.id }}</td>
        <td>{{ accountCurrency.balance }}</td>
        <td>{{ accountCurrency.currency.name }}</td>
        <td>{{ accountCurrency.account.userId }}</td>
        <td>
          <button (click)="delete(accountCurrency.account.id, accountCurrency.currency.id)" class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i> Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
