<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">
          Account ID
          <button class="sort-button" (click)="sort('account.id')">
            <span [ngClass]="{'fa-caret-up': sortColumn === 'account.id' && !sortReverse, 'fa-caret-down': sortColumn === 'account.id' && sortReverse}">{{ sortColumn === 'account.id' && !sortReverse ? '^' : 'v' }}</span>
          </button>
        </th>
        <th scope="col">
          Currency ID
          <button class="sort-button" (click)="sort('currency.id')">
            <span [ngClass]="{'fa-caret-up': sortColumn === 'currency.id' && !sortReverse, 'fa-caret-down': sortColumn === 'currency.id' && sortReverse}">{{ sortColumn === 'currency.id' && !sortReverse ? '^' : 'v' }}</span>
          </button>
        </th>
        <th scope="col">
          Balance
          <button class="sort-button" (click)="sort('balance')">
            <span [ngClass]="{'fa-caret-up': sortColumn === 'balance' && !sortReverse, 'fa-caret-down': sortColumn === 'balance' && sortReverse}">{{ sortColumn === 'balance' && !sortReverse ? '^' : 'v' }}</span>
          </button>
        </th>
        <th scope="col">
          Currency name
          <button class="sort-button" (click)="sort('currency.name')">
            <span [ngClass]="{'fa-caret-up': sortColumn === 'currency.name' && !sortReverse, 'fa-caret-down': sortColumn === 'currency.name' && sortReverse}">{{ sortColumn === 'currency.name' && !sortReverse ? '^' : 'v' }}</span>
          </button>
        </th>
        <th scope="col">
          USER ID
          <button class="sort-button" (click)="sort('account.userId')">
            <span [ngClass]="{'fa-caret-up': sortColumn === 'account.userId' && !sortReverse, 'fa-caret-down': sortColumn === 'account.userId' && sortReverse}">{{ sortColumn === 'account.userId' && !sortReverse ? '^' : 'v' }}</span>
          </button>
        </th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let accountCurrency of bankAccountCurrency">
        <td>{{ accountCurrency.account.id }}</td>
        <td>{{ accountCurrency.currency.id }}</td>
        <td>{{ accountCurrency.balance }}</td>
        <td>{{ accountCurrency.currency.name }}</td>
        <td>{{ accountCurrency.account.userId }}</td>
        <td>
          <button (click)="delete(accountCurrency.account.id, accountCurrency.currency.id)" class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i> Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
